body {
    background-color: #2B2929;
}

h1 {
    text-align: center;
    color: #7449A8;
    font-family: Garamond, serif;
    font-size: 45px;
}

b{
    color: white;
    font-family: Garamond, serif;
    font-size: 20px;
}

img {
    width: 350px;
    position: fixed;
    right: 2%;
    top: 23.5%;
}

div {
    color: white;
    font-family: Garamond, serif;
    word-wrap: normal;
    width: 70%;
    margin-top: 5px;
    font-size: 16px;
}

div#code{
    margin: 10px;
    padding: 10px;
    background-color: rgb(54, 52, 52);
    width: 320px;
    font-size: 14px;
}