button{
display:block;
background-color:#7449A8;
color:white;
text-align:center;
width:300px;
height:55px;
border-radius:10px;
font-size:28px;
font-family:Garamond, serif;
font-weight:bold;
margin:auto;
margin-bottom:22px;
text-decoration: none;
}

body{
background-color:#2B2929; 
}

div{
border-style:groove;
border-color:#7449A8;
border-width:10px;
width:500px;
height:270px;
border-radius:25px;
margin:auto;
margin-top:150px;
text-align:center;
}

h1 {
    color: white;
    font-family:Garamond, serif;
    font-weight: bold;
    font-size:43px;
}

