<!DOCTYPE html>
{% load static %}

<html>
<head>
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"/>
</head>
<body>
  <div class="container">
    <div id="calendar"></div>
  </div>
  <button id="add_task" style="margin-top:15px;"><a href="{% url 'task_form' %}">Add Task</a></button>
  <button id="info"><a href="{% url 'info' %}">How to use</a></button>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
  <script>
    $(document).ready(function(){
      var calendar=$('#calendar').fullCalendar({
        events:function(start,end,timezone,callback){
          fetch('/all_events')
          .then((resp) => resp.json())
          .then(function(data){
            var eventsList=[];
              for(var i=0;i < data.length;i++) { 
                if(data[i].topic !=null && data[i].start != null && data[i].end != null && data[i].event_date!=null){
                  var event={
                    title:data[i].topic,
                    start:data[i].event_date,
                    end:data[i].end,
                  };
                  eventsList.push(event);
                }
              }
              callback(eventsList)
            });
          },
        });  
      });
    </script>        
</body>   
</html>