<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/signupstyle.css' %}">
</head>
<body>
<div>
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
    <label><b>Username</b>
        <input type="text" name="name" style="color:white">
    </label>
    <br>
    <label><b>Password</b>
        <input type="password" name="password" style="color:white">

    </label><br>
        <input type='submit' value="Done">
    </form>


</form>

</div>
</body>
</html>